/* Custom font */ 
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Applied custom font and added margin to the top to support the fixed navbar */
body {
    font-family: "Rubik", sans-serif;
    margin-top: 105px;
    margin-bottom: 30px;
}

/* Navbar custom styles */
/* -------------------- */
.navbar {
    background-color: #fff; /* Custom background color */
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.145); /* Shadow to add more emphasis on the navbar */
}

.membership-link {
    padding-right: 34px; /* Separated the memebership link from the language selector */ 
    padding-top: 2px; /* Aligned the y axis of the link to match the others */
}

.navbar .active {
    font-weight: 700; /* Added bold text to the active item - this will work for any link that's accessed in their correspondent page */
} 

.navbar button {
    margin-right: 12px; /* Separated the hamburger icon from the right margin of the page to make it stand out */
}

.nav-link {
    transition: all .2s ease-out; /* Transition for the hover color change */
    color: black; /* This sets the color black to all of the links inside navbar */
}

.nav-link:hover {
    color: turquoise; /* Color to change on hover */
}

.membership-link .nav-link:hover {
    color: red; /* Exclusive color hover for membership */
}

.lang-selector .nav-link:hover {
    color: black; /* Exclusive color hover for language selector */
}

.nav-item {
    padding-left: 16px; /* Separates the links further from eachother */
}

.navbar-brand img {
    margin-left: 22px; /* Separates the image from the left margin to make it stand out */
    width: 220px; /* Custom width for the brand image to make it fit the navbar without exceeding the predefined height */
    margin-right: 32px; /* Margin to separate the first link of the navbar from the logo further than normal */
}

.language-flag {
    width: 40px; /* Custom width for the language flag to make it fit the navbar, same reason as the brand image */
    border-radius: 5px; /* Curves the flag to make it less sharp */
    opacity: 1;
    filter: alpha(opacity=100);
    transition: .2s ease-out;
}

.language-flag:hover {
    opacity: 0.6;
    filter: alpha(opacity=40);
    transition: .2s ease-out;
}
/* End of custom navbar styles */
/* ---------------------------------- */

.hidden {
    display: none;
}

.form-title {
    text-align: center;
    margin-bottom: 16px;
}

.form-intro {
    text-align: center;
}

form input[type = "text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(207, 207, 207);
    transition: all .2s ease-in;
}

form p {
    margin-top: 18px;
}

form input[type="text"]:focus {
    border-bottom: 1px solid rgb(255, 0, 0)
}

form {
    width: 840px;
    margin: auto;
}

form .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .block {
    display: block;
    width: auto;
    margin: auto;
    text-align: center;
    margin-top: 32px;
}

form .block p {
    text-align: left;
}

form .block textarea {
    width: 840px;
    height: 12vh;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(207, 207, 207);
    transition: border-bottom .2s ease-in;
    resize: none;
}

form .block textarea:focus {
    border-bottom: 1px solid rgb(255, 0, 0);
}

form .block #submit {
    margin: auto;
    margin-top: 12px;
    width: 90px;
    padding: 8px;
    outline: none;
    border: none;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 94, 0));
    color: #fff;
    border-radius: 5px;
}

.error {
    color: red;
}

form .error-border {
    border-bottom: 1px solid red;
}

.small-margin {
    margin-top: 42px;
}

.obligatory {
    color: red;
    margin-left: 4px;
}

.optional {
    margin-left: 4px;
}

@media only screen and (max-width: 990px){
    form {
        margin-left: 34px;
    }
    form .flex {
        flex-direction: column;
    }

    form .block {
        text-align: left;
    }

    form .block textarea {
        width: 90vw;
    }
}