/* Custom font */ 
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Animations for carousel text */
@keyframes EaseIn {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes EaseInSmaller {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0);
    }
}

/* Applied custom font and added margin to the top to support the fixed navbar */
body {
    font-family: "Rubik", sans-serif;
    margin-top: 81px;
}

/* Navbar custom styles */
/* -------------------- */
.navbar {
    background-color: #fff; /* Custom background color */
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.145); /* Shadow to add more emphasis on the navbar */
}

.membership-link {
    padding-right: 34px; /* Separated the memebership link from the language selector */ 
    padding-top: 2px; /* Aligned the y axis of the link to match the others */
}

.navbar .active {
    font-weight: 700; /* Added bold text to the active item - this will work for any link that's accessed in their correspondent page */
} 

.navbar button {
    margin-right: 12px; /* Separated the hamburger icon from the right margin of the page to make it stand out */
}

.nav-link {
    transition: all .2s ease-out; /* Transition for the hover color change */
    color: black; /* This sets the color black to all of the links inside navbar */
}

.nav-link:hover {
    color: turquoise; /* Color to change on hover */
}

.membership-link .nav-link:hover {
    color: red; /* Exclusive color hover for membership */
}

.lang-selector .nav-link:hover {
    color: black; /* Exclusive color hover for language selector */
}

.nav-item {
    padding-left: 16px; /* Separates the links further from eachother */
}

.navbar-brand img {
    margin-left: 22px; /* Separates the image from the left margin to make it stand out */
    width: 220px; /* Custom width for the brand image to make it fit the navbar without exceeding the predefined height */
    margin-right: 32px; /* Margin to separate the first link of the navbar from the logo further than normal */
}

.language-flag {
    width: 40px; /* Custom width for the language flag to make it fit the navbar, same reason as the brand image */
    border-radius: 5px; /* Curves the flag to make it less sharp */
    opacity: 1;
    filter: alpha(opacity=100);
    transition: .2s ease-out;
}

.language-flag:hover {
    opacity: 0.6;
    filter: alpha(opacity=40);
    transition: .2s ease-out;
}
/* End of custom navbar styles */
/* ---------------------------------- */

/* Carousel custom styles */
/* ---------------------- */
.carousel-content {
    position: absolute;
    bottom: 13%;
    left: 12%;
    color: white;
    margin-right: 120px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel img {
    width: 100%;
    height: 78vh;
    object-fit: cover;
}

.carousel-content h1 {
    font-size: 56px;
    text-shadow: 3px 3px 4px black;
    animation: EaseIn 1.4s ease-out forwards;
}

.carousel-content p {
    font-size: 32px;
    text-shadow: 3px 3px 4px black;
    animation: EaseIn 1.4s ease-out forwards .14s;
}
/* End of custom carousel styles */
/* ----------------------------- */


.page-wrapper {
    width: 62vw; /* Adds a set width for the rest of the content on the page */
    margin: auto; /* Centers everything */
    margin-top: 32px; /* Separates the content from the banner */
}

.section-h2 {
    margin-top: 42px; /* Separates the title from the banner */
    font-weight: 500; /* Bolds the text */
}

.section-divider {
    margin-top: 6px; /* Separates the border from the text above it */
    border: 4px solid rgb(255, 0, 0); /* Adds a border to the bottom of the text */
    width: 140px; /* Sets a width to the border to not make it exceed too much */
}

/* Styles for the news section */
/* --------------------------- */
.news {
    display: flex; /* Sets the display to flexbox, placing every column next to each other in a row formation */
    margin-top: 48px; /* Separates the content from the header above it */
    justify-content: space-between; /* Adds evenly space between all of the columns */
}

.news img {
    width: 100%; /* Sets a responsive width for the images inside the news container, this is to shrink or expand them according to the space it has */
    height: auto;
}

.news .column {
    flex: 33% 1; /* Sets a width for every column so it's evenly spaced */
    margin-right: 42px; /* Separates every column from eachother */
}

.column h3{
    padding-top: 12px; /* Separates the news header from the image */
}

.column p {
    padding-top: 6px; /* Separates the news introduction from the header */
}

.column a {
    font-size: 22px;
    transition: all .2s ease-out; /* Transition for the hover color change */
    color: red; /* Sets the "Read more" button color to red */
    text-decoration: none; /* Removes the underline from the a element */
}

.column a:hover {
    color: gray;
}

.column h4{
    margin-bottom: 16px; /* Adds some margin to the bottom of every link to separate it from the news article separator */
}
/* End of news section styles */
/* -------------------------- */

/* Media queries */

@media only screen and (max-width: 750px){

    .page-wrapper {
        width: 100%;
        margin: auto;
    }
    
    .news {
        flex-direction: column;
    }

    .news img {
        width: 100%
    }

    .section-h2, .section-divider {
        margin-left: 12px;
    }

    .news .column {
        margin-right: 12px;
        margin-left: 12px;
    }

    .carousel h1 {
        font-size: 7.4vw;
        animation: EaseInSmaller 1.4s ease-out forwards;
    }

    .carousel p {
        font-size: 4.2vw;
        animation: EaseInSmaller 1.4s ease-out forwards .14s;
    }
}