<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esperanza Global</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" href="../../img/ong_img/EG_sin_texto.png">
    <link rel="stylesheet" href="../../css/style.faq.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <span class="navbar-brand">
            <img src="../../img/ong_img/EG_banner.png">
        </span>
        <button type="button" data-bs-target="#mainNavbar" data-bs-toggle="collapse" class="navbar-toggler" aria-controls="mainNavbar" aria-expanded="false" aria-label="Show navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../../index.html" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="./sobre_nosotros.html" class="nav-link">¿Quienes somos?</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Soporte</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item membership-link">
                    <a href="./formulario_socios.html" class="nav-link">Únete a nosotros</a>
                </li>
                <li class="nav-item dropdown lang-selector">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="../../img/flags/es.jpg" class="language-flag">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a href="../en/faq.html" class="dropdown-item">English</a>
                        </li>
                        <li>
                            <a href="../ca/preguntes_frequents.html" class="dropdown-item">Catalan</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page-wrapper">
        <div class="sections">
            <section class="faq">
                <h1 class="fq-title">
                    Soporte
                </h1>
                <p class="fq-intro">¿Necesitas ayuda? ¿Tienes alguna pregunta? Lee nuestras respuestas a preguntas que frecuentan nuestros usuarios, 
                    si tienes alguna otra pregunta que no está en esta lista, no dudes en contactarnos usando el formulario de contacto.
                </p>
                <h3 class="fq-subtitle">
                    Preguntas Frecuentes
                </h3>
                <ol>
                    <li>
                        <h5 class="fq-question">
                            ¿Qué es "Esperanza Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        "Esperanza Global" es una organización no gubernamental (ONG) fundada en 1985 con la misión de mejorar la calidad de vida de las comunidades vulnerables y proteger el medio ambiente a través de proyectos sostenibles y colaborativos.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿Cuáles son las principales áreas de enfoque de "Esperanza Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Nuestras áreas de enfoque incluyen:
                    </p>
                    <ul>
                        <li>Desarrollo comunitario y acceso a agua potable.</li>
                        <li>Salud comunitaria y educación.</li>
                        <li>Conservación del medio ambiente y reforestación.</li>
                        <li>Respuesta a desastres naturales y emergencias.</li>
                    </ul>
                    <li>
                        <h5 class="fq-question">
                            ¿Cómo puedo apoyar a "Esperanza Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Hay varias formas de apoyar nuestra misión:
                    </p>
                    <ul>
                        <li>Haciendo una donación monetaria a través de nuestra página web.</li>
                        <li>Participando en nuestros eventos de recaudación de fondos.</li>
                        <li>Voluntariando tu tiempo y habilidades en nuestros proyectos.</li>
                        <li>Compartiendo nuestra causa y actividades en redes sociales.</li>
                    </ul>
                    <li>
                        <h5 class="fq-question">
                            ¿Cómo se utilizan las donaciones recibidas?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Las donaciones se destinan a financiar nuestros proyectos en el campo, cubrir costos operativos esenciales y apoyar nuestras campañas de sensibilización y educación. Nos aseguramos de que cada donación tenga un impacto significativo y medible en las comunidades que servimos.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿Dónde opera "Esperanza Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Operamos en más de 40 países de África, Asia, América Latina y el Caribe, enfocándonos en áreas donde las necesidades humanitarias y ambientales son más críticas.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿Cómo puedo involucrarme como voluntario?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Puedes involucrarte como voluntario visitando nuestra página web y completando el formulario de inscripción. Ofrecemos oportunidades tanto locales como internacionales, adaptadas a diferentes habilidades y disponibilidades de tiempo.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿Organizan actividades para recaudar fondos?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Sí, organizamos una variedad de actividades de recaudación de fondos, tales como gincanas, competencias deportivas, excursiones, caminatas benéficas, mercadillos y ferias, así como talleres y seminarios.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿Cómo puedo inscribirme en un evento de recaudación de fondos?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Puedes inscribirte en nuestros eventos de recaudación de fondos visitando tu oficina local de Esperanza Global, en nuestra página web encontrarás información detallada sobre los eventos que organizamos.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿"Esperanza Global" trabaja en colaboración con otras organizaciones?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Sí, trabajamos en colaboración con gobiernos locales, otras ONGs, organizaciones internacionales y el sector privado para maximizar el impacto de nuestros proyectos y asegurar su sostenibilidad a largo plazo.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿Cómo puedo estar al día con las actividades y proyectos de "Esperanza Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Puedes suscribirte a nuestro boletín informativo en nuestra página web, seguirnos en nuestras redes sociales y visitar nuestro blog para obtener actualizaciones regulares sobre nuestras actividades y proyectos.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿Qué tipo de proyectos de conservación ambiental realiza "Esperanza Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Nuestros proyectos de conservación ambiental incluyen la reforestación de áreas degradadas, la conservación de biodiversidad, la promoción de energías renovables y la educación sobre prácticas sostenibles.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            ¿"Esperanza Global" ofrece oportunidades de trabajo?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Sí, ofrecemos oportunidades de empleo y prácticas en diversas áreas. Puedes encontrar más información sobre vacantes actuales y cómo postularte en la sección de empleos de nuestra página web.
                    </p>
                </ol>
            </section>
            <section class="contact-form">
                <h1>Contáctanos</h1>
                <form onsubmit="event.preventDefault(); validateForm()">
                    <div>
                        <p>Nombre:<span class="obligatory">*</span></p>
                        <input type="text" id="FirstName" placeholder="Tu nombre">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Apellido:<span class="obligatory">*</span></p>
                        <input type="text" id="SecondName" placeholder="Tu apellido">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>E-Mail:<span class="obligatory">*</span></p>
                        <input type="text" id="email" placeholder="Tu email">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Número de teléfono:<span class="obligatory">*</span></p>
                        <input type="text" id="PhoneNumber" placeholder="Núm. Teléfono">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Mensaje:<span class="obligatory">*</span></p>
                        <textarea placeholder="Escribe tu texto aquí..." id="message"></textarea>
                        <br>
                        <small class="error"></small>
                        <br>
                        <input type="submit" id="submit" value="Enviar">
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="../../js/script.faq-es.js"></script>
</body>
</html>