<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esperança Global</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" href="../../img/ong_img/EG_sin_texto.png">
    <link rel="stylesheet" href="../../css/style.about-us.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <span class="navbar-brand">
            <img src="../../img/ong_img/EG_banner.png">
        </span>
        <button type="button" data-bs-target="#mainNavbar" data-bs-toggle="collapse" class="navbar-toggler" aria-controls="mainNavbar" aria-expanded="false" aria-label="Show navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">Inici</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Qui som?</a>
                </li>
                <li class="nav-item">
                    <a href="./preguntes_frequents.html" class="nav-link">Suport</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item membership-link">
                    <a href="./formulari_socis.html" class="nav-link">Uneix-te a nosaltres</a>
                </li>
                <li class="nav-item dropdown lang-selector">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="../../img/flags/ca.png" class="language-flag">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a href="../es/cronologia.html" class="dropdown-item">Español</a>
                        </li>
                        <li>
                            <a href="../en/timeline.html" class="dropdown-item">English</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page-wrapper">
        <div class="sections">
            <section class="main-content">
                <h1 class="title">
                    Cronologia
                </h1>
                <p class="mc-text">
                    Esperança Global ha tingut una gran història al llarg dels anys de la qual ens sentim orgullosos,
                    hem estat ajudant internacionalment a tot tipus de persones durant molt de temps.
                </p>
                <h2 class="subtitle">
                    1985 - Fundació i Missió Inicial
                </h2>
                <p class="mc-text">
                    El 1985, un grup d'activistes i professionals preocupats per la creixent crisi ambiental i les necessitats humanitàries van fundar "Esperança Global" a Burgos, Espanya.
                    L'organització va néixer amb la missió de millorar la qualitat de vida de les comunitats vulnerables i protegir el medi ambient a través de projectes sostenibles.
                </p>
                <h2 class="subtitle">
                    1995 - Expansió a Programes de Salut i Educació
                </h2>
                <p class="mc-text">
                    El 1995, l'ONG va ampliar el seu enfocament per incloure programes de salut i educació. En col·laboració amb governs locals,
                    Esperança Global va començar a establir clíniques mòbils a regions remotes de l'Índia i programes d'alfabetització per a dones a Bangladesh,
                    promovent la igualtat de gènere i l'accés a serveis essencials.
                </p>
                <h2 class="subtitle">
                    2005 - Reconeixements Internacionals
                </h2>
                <p class="mc-text">
                    El 2005, Esperança Global va ser guardonada amb el Premi Mundial de Sostenibilitat pels seus esforços en la promoció del desenvolupament sostenible i la protecció del medi ambient.
                    Aquest reconeixement internacional va augmentar la visibilitat de l'ONG i va augmentar la seva capacitat per recaptar fons i atraure voluntaris.
                </p>
                <h2 class="subtitle">
                    2015 - Resposta a Desastres Naturals
                </h2>
                <p class="mc-text">
                    El 2015, després de diversos desastres naturals devastadors, Esperança Global va crear un equip especialitzat en resposta a emergències.
                    Aquest equip va proporcionar ajuda immediata a les comunitats afectades pel terratrèmol al Nepal
                    i va organitzar esforços de reconstrucció sostenible a les Filipines després del tifó Haiyan.
                </p>
                <h2 class="subtitle">
                    2024 - Programes Actuals i Futur
                </h2>
                <p class="mc-text">
                    Avui dia, Esperança Global opera a més de 40 països, amb un enfocament integrat en el benestar humà i la sostenibilitat ambiental.
                    L'ONG segueix compromesa amb la seva missió de crear un futur on totes les persones puguin viure en un entorn saludable i sostenible,
                    utilitzant l'educació, la innovació tecnològica i la col·laboració global per afrontar els desafiaments del segle XXI.
                </p>
            </section>
            <section class="content-table">
                <h5 class="ct-title">Taula de continguts</h5>
                <a class="ct-link" href="./sobre_nosaltres.html">Qui som?</a>
                <br>
                <a class="active" href="#">Cronologia</a>
                <br>
                <a class="ct-link" href="./activitats.html">Taula d'activitats</a>
            </section>
        </div>
    </div>
</body>
</html>
