<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esperança Global</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" href="../../img/ong_img/EG_sin_texto.png">
    <link rel="stylesheet" href="../../css/style.faq.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <span class="navbar-brand">
            <img src="../../img/ong_img/EG_banner.png">
        </span>
        <button type="button" data-bs-target="#mainNavbar" data-bs-toggle="collapse" class="navbar-toggler" aria-controls="mainNavbar" aria-expanded="false" aria-label="Show navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">Inici</a>
                </li>
                <li class="nav-item">
                    <a href="./sobre_nosaltres.html" class="nav-link">Qui som?</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Suport</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item membership-link">
                    <a href="./formulari_socis.html" class="nav-link">Uneix-te a nosaltres</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="../../img/flags/ca.png" class="language-flag">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a href="../es/preguntas_frecuentes.html" class="dropdown-item">Español</a>
                        </li>
                        <li>
                            <a href="../en/faq.html" class="dropdown-item">English</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page-wrapper">
        <div class="sections">
            <section class="faq">
                <h1 class="fq-title">
                    Suport
                </h1>
                <p class="fq-intro">Necessites ajuda? Tens alguna pregunta? Llegeix les nostres preguntes freqüents, 
                    si tens alguna altra pregunta que no estigui en aquesta llista, no dubtis en contactar-nos fent servir el formulari de contacte.
                </p>
                <h3 class="fq-subtitle">
                    Preguntes Freqüents
                </h3>
                <ol>
                    <li>
                        <h5 class="fq-question">
                            Què és "Esperança Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        "Esperança Global" és una organització no governamental (ONG) fundada el 1985 amb la missió de millorar la qualitat de vida de les comunitats vulnerables i protegir el medi ambient mitjançant projectes sostenibles i col·laboratius.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Quines són les principals àrees d'enfocament de "Esperança Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Les nostres àrees d'enfocament inclouen:
                    </p>
                    <ul>
                        <li>Desenvolupament comunitari i accés a aigua potable.</li>
                        <li>Salut comunitària i educació.</li>
                        <li>Conservació del medi ambient i reforestació.</li>
                        <li>Resposta a desastres naturals i emergències.</li>
                    </ul>
                    <li>
                        <h5 class="fq-question">
                            Com puc donar suport a "Esperança Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Hi ha diverses maneres de donar suport a la nostra missió:
                    </p>
                    <ul>
                        <li>Fent una donació monetària a través del nostre lloc web.</li>
                        <li>Participar en els nostres esdeveniments de recaptació de fons.</li>
                        <li>Voluntariat el teu temps i habilitats en els nostres projectes.</li>
                        <li>Compartint la nostra causa i activitats a les xarxes socials.</li>
                    </ul>
                    <li>
                        <h5 class="fq-question">
                            Com s'utilitzen les donacions rebudes?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Les donacions es destinen a finançar els nostres projectes sobre el terreny, cobrir costos operatius essencials i recolzar les nostres campanyes de sensibilització i educació. Ens assegurem que cada donació tingui un impacte significatiu i mesurable en les comunitats que servim.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            On opera "Esperança Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Operem en més de 40 països d'Àfrica, Àsia, Amèrica Llatina i el Carib, centrant-nos en àrees on les necessitats humanitàries i ambientals són més crítiques.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Com puc involucrar-me com a voluntari?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Pots involucrar-te com a voluntari visitant el nostre lloc web i completant el formulari d'inscripció. Oferim oportunitats tant locals com internacionals, adaptades a diferents habilitats i disponibilitats de temps.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Organitzeu activitats per recaptar fons?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Sí, organitzem una varietat d'activitats de recaptació de fons, com ara gincanes, competicions esportives, excursions, caminades benèfiques, mercadets i fires, així com tallers i seminaris.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Com puc inscriure'm en un esdeveniment de recaptació de fons?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Pots inscriure't als nostres esdeveniments de recaptació de fons visitant la teva oficina local de Esperança Global; al nostre lloc web, trobaràs informació detallada sobre els esdeveniments que organitzem.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            "Esperança Global" col·labora amb altres organitzacions?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Sí, col·laborem amb governs locals, altres ONG, organitzacions internacionals i el sector privat per maximitzar l'impacte dels nostres projectes i assegurar la seva sostenibilitat a llarg termini.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Com puc estar al dia amb les activitats i projectes de "Esperança Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Pots subscriure't al nostre butlletí informatiu al nostre lloc web, seguir-nos a les nostres xarxes socials i visitar el nostre blog per obtenir actualitzacions regulars sobre les nostres activitats i projectes.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Quin tipus de projectes de conservació ambiental realitza "Esperança Global"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Els nostres projectes de conservació ambiental inclouen la reforestació d'àrees degradades, la conservació de la biodiversitat, la promoció d'energies renovables i l'educació sobre pràctiques sostenibles.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            "Esperança Global" ofereix oportunitats de treball?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Sí, oferim oportunitats de treball i pràctiques en diverses àrees. Pots trobar més informació sobre les vacants actuals i com sol·licitar-les a la secció d'ocupació del nostre lloc web.
                    </p>
                </ol>
            </section>
            <section class="contact-form">
                <h1>Contacta'ns</h1>
                <form onsubmit="event.preventDefault(); validateForm()">
                    <div>
                        <p>Nom:<span class="obligatory">*</span></p>
                        <input type="text" id="FirstName" placeholder="El teu nom">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Cognom:<span class="obligatory">*</span></p>
                        <input type="text" id="SecondName" placeholder="El teu cognom">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Correu electrònic:<span class="obligatory">*</span></p>
                        <input type="text" id="email" placeholder="El teu correu electrònic">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Número de telèfon:<span class="obligatory">*</span></p>
                        <input type="text" id="PhoneNumber" placeholder="Número de telèfon">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Missatge:<span class="obligatory">*</span></p>
                        <textarea placeholder="Escriu el teu missatge aquí..." id="message"></textarea>
                        <br>
                        <small class="error"></small>
                        <br>
                        <input type="submit" id="submit" value="Enviar">
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="../../js/script.faq-ca.js"></script>
</body>
</html>
