<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Hope</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" href="../../img/ong_img/EG_sin_texto.png">
    <link rel="stylesheet" href="../../css/style.faq.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <span class="navbar-brand">
            <img src="../../img/ong_img/EG_banner.png">
        </span>
        <button type="button" data-bs-target="#mainNavbar" data-bs-toggle="collapse" class="navbar-toggler" aria-controls="mainNavbar" aria-expanded="false" aria-label="Show navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="./about_us.html" class="nav-link">About us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Support</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item membership-link">
                    <a href="./membership_form.html" class="nav-link">Join us</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="../../img/flags/en.jpg" class="language-flag">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a href="../es/preguntas_frecuentes.html" class="dropdown-item">Español</a>
                        </li>
                        <li>
                            <a href="../ca/preguntes_frequents.html" class="dropdown-item">Catalan</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page-wrapper">
        <div class="sections">
            <section class="faq">
                <h1 class="fq-title">
                    Support
                </h1>
                <p class="fq-intro">Need help? Have a question? Read our frequently asked questions, 
                    if you have any other question not on this list, feel free to contact us using the contact form.
                </p>
                <h3 class="fq-subtitle">
                    Frequently Asked Questions
                </h3>
                <ol>
                    <li>
                        <h5 class="fq-question">
                            What is "Global Hope"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        "Global Hope" is a non-governmental organization (NGO) founded in 1985 with the mission to improve the quality of life of vulnerable communities and protect the environment through sustainable and collaborative projects.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            What are the main focus areas of "Global Hope"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Our focus areas include:
                    </p>
                    <ul>
                        <li>Community development and access to clean water.</li>
                        <li>Community health and education.</li>
                        <li>Environmental conservation and reforestation.</li>
                        <li>Response to natural disasters and emergencies.</li>
                    </ul>
                    <li>
                        <h5 class="fq-question">
                            How can I support "Global Hope"?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        There are several ways to support our mission:
                    </p>
                    <ul>
                        <li>Making a monetary donation through our website.</li>
                        <li>Participating in our fundraising events.</li>
                        <li>Volunteering your time and skills in our projects.</li>
                        <li>Sharing our cause and activities on social media.</li>
                    </ul>
                    <li>
                        <h5 class="fq-question">
                            How are the received donations used?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Donations are used to fund our field projects, cover essential operating costs, and support our awareness and education campaigns. We ensure that each donation has a significant and measurable impact on the communities we serve.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Where does "Global Hope" operate?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        We operate in over 40 countries in Africa, Asia, Latin America, and the Caribbean, focusing on areas where humanitarian and environmental needs are most critical.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            How can I get involved as a volunteer?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        You can get involved as a volunteer by visiting our website and completing the registration form. We offer both local and international opportunities, tailored to different skills and time availabilities.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Do you organize fundraising activities?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Yes, we organize a variety of fundraising activities, such as scavenger hunts, sports competitions, excursions, charity walks, bazaars and fairs, as well as workshops and seminars.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            How can I register for a fundraising event?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        You can register for our fundraising events by visiting your local Global Hope office; on our website, you will find detailed information about the events we organize.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Does "Global Hope" collaborate with other organizations?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Yes, we collaborate with local governments, other NGOs, international organizations, and the private sector to maximize the impact of our projects and ensure their long-term sustainability.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            How can I stay up to date with "Global Hope's" activities and projects?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        You can subscribe to our newsletter on our website, follow us on our social networks, and visit our blog for regular updates on our activities and projects.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            What kind of environmental conservation projects does "Global Hope" carry out?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Our environmental conservation projects include reforestation of degraded areas, biodiversity conservation, promotion of renewable energies, and education on sustainable practices.
                    </p>
                    <li>
                        <h5 class="fq-question">
                            Does "Global Hope" offer job opportunities?
                        </h5>
                    </li>
                    <p class="fq-answer">
                        Yes, we offer employment and internship opportunities in various areas. You can find more information about current vacancies and how to apply in the jobs section of our website.
                    </p>
                </ol>
            </section>
            <section class="contact-form">
                <h1>Contact Us</h1>
                <form onsubmit="event.preventDefault(); validateForm()">
                    <div>
                        <p>First Name:<span class="obligatory">*</span></p>
                        <input type="text" id="FirstName" placeholder="Your first name">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Last Name:<span class="obligatory">*</span></p>
                        <input type="text" id="SecondName" placeholder="Your last name">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>E-Mail:<span class="obligatory">*</span></p>
                        <input type="text" id="email" placeholder="Your email">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Phone Number:<span class="obligatory">*</span></p>
                        <input type="text" id="PhoneNumber" placeholder="Phone number">
                        <br>
                        <small class="error"></small>
                    </div>
                    <div>
                        <p>Message:<span class="obligatory">*</span></p>
                        <textarea placeholder="Write your message here..." id="message"></textarea>
                        <br>
                        <small class="error"></small>
                        <br>
                        <input type="submit" id="submit" value="Send">
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="../../js/script.faq-en.js"></script>
</body>
</html>
